/*
ElectricSQL Migration
name: <%= name %>
title: <%= title %>

When you build or sync these migrations we will add some triggers and metadata
so that ElectricSQL Satellite can sync your data.

Write your SQLite migration below.
*/
